[user]
	email = snkg2450@gmail.com
	name = Koki Nishihara
[grep]
	lineNumber = true
[push]
	default = current
[alias]
	st = status
	df = diff
	co = commit
	br = branch
	ps = push
	pl = pull
	ck = checkout
	graph = log --date=short  --decorate --graph --branches --tags --remotes
[credential]
	helper = wincred
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX --pattern='^(added|deleted|modified): '
	show = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = yellow bold 52
	newNormal = green bold
	newHighlight = white bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	# new = green bold
	whitespace = red reverse
[fetch]
	prune = true
