[user]
	email = snkg2450@gmail.com
	name = Koki Nishihara
[grep]
	lineNumber = true
[push]
	default = current
[alias]
	st = status
	df = diff
	co = commit
	br = branch
	ps = push
	pl = pull
	ck = checkout
	graph = log --date=short  --decorate --graph --branches --tags --remotes
[credential]
	helper = wincred
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    plus-style = "syntax #012800"
    syntax-theme = Monokai Extended
    navigate = true
	line-numbers = true
    side-by-side = true
[interactive]
    diffFilter = delta --color-only
[color]
	ui = true
[fetch]
	prune = true
